body h1{
  font-size: 24px;
}
body p{
  padding-left: 10px;
  padding-top: 10px;
}
.main{
   max-width: 1200px;
   background-color: white;
}
.header, .footer{
    background-color: hsl(200, 100%, 10%); 
    color: white;
}
.header{
}
.footer{
}
.income , .expenses, .totals{
   min-height: 320px;  
}
.income{
   background-color: hsl(100, 100%, 95%);
}
.totals{
   background-color: hsl(300, 100%, 95%);
}
.expenses{
   background-color: hsl(200, 100%, 95%);
}
.calc-form{
  padding: 10px;
}
.inline-block{
  display: inline-block;
}
.calc-form li{
 padding: 0 0 8px 0
 display:inline-block;
}
.show-select{
  display:none;
  margin-left: 20px;
}
