<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="budget.css">
  </head>
  <body ng-app="BudgetApp">
    <div class="main" ng-controller="MainController">
       <div class="container-fluid">
         
         <div class="row">
             <div class="header col-sm-12">
               <h1>Money Bot</h1>
             </div>
         </div>
         <div class="row">
             <div class="calc-form col-sm-12">
               <form>
                 <div class="col-sm-3 inline-block">
                 <p>Monthly Income 1:
                 <select ng-change="calculations()" ng-model="income1" ng-options="o as o for o in income1_options">
                 </select>
                 </p>
                 </div>
                 <div class="col-sm-3 inline-block">
                 <p>Monthly Income 2:
                 <select ng-change="calculations()" ng-model="income2" ng-options="o as o for o in income2_options">
                 </select>
                 </p>  
                 </div>
                 <div class="col-sm-3 inline-block">
                 <p>Monthly Income 3:
                 <select ng-change="calculations()" ng-model="income3" ng-options="o as o for o in income3_options">
                 </select>
                 </p>  
                 </div>
               </form>  
             </div>
        </div>    
      
         <div class="row">
             <div class="income col-sm-4">
                 <p>Monthly Income 1: {{ income1 | currency }}</p>
                 <p>Monthly Income 2: {{ income2 | currency }}</p>
                 <p>Monthly Income 3: {{ income3 | currency }}</p>
             </div>

             <div class="expenses col-sm-4">
                 <form>
                 <p>Rent: {{ rent | currency }}</p><select ng-change="calculations()" ng-model="rent" ng-options="o as o for o in rent_options">
                 </select>
                 <p>Utilities: {{ utilities | currency }}</p><select ng-change="calculations()" ng-model="utilities" ng-options="o as o for o in utilities_options">
                 </select>
                 <p>Food: {{ food | currency }}</p><select ng-change="calculations()" ng-model="food" ng-options="o as o for o in food_options">
                 </select>
                 <p>Car Insurance: {{ carinsurance | currency }}</p><select ng-change="calculations()" ng-model="carinsurance" ng-options="o as o for o in carinsurance_options">
                 </select>
                 <p>Gasoline: {{ cargas | currency }}</p><select ng-change="calculations()" ng-model="cargas" ng-options="o as o for o in cargas">
                 </select>
                 <p>Student Loan Payment: {{ studentloanpmt | currency }}</p><select ng-change="calculations()" ng-model="studentloanpmt" ng-options="o as o for o in studentloanpmt_options">
                 </select>
                 <p>Phone: {{ phone | currency }}</p><select ng-change="calculations()" ng-model="phone" ng-options="o as o for o in phone_options">
                 </select>
                 <p>Internet: {{ internet | currency }}</p><select ng-change="calculations()" ng-model="internet" ng-options="o as o for o in internet_options">
                 </select>
                 <p>Creditcard1: {{ creditcard1 | currency }}</p><select ng-change="calculations()" ng-model="creditcard1" ng-options="o as o for o in creditcard1_options">
                 </select>
                 <p>Creditcard2: {{ creditcard2 | currency }}</p><select ng-change="calculations()" ng-model="creditcard2" ng-options="o as o for o in creditcard2_options">
                 </select>
                 </form>
             </div>
           
             <div class="totals col-sm-4">
                 <p>Total Biweekly Income: {{ mybiweeklyincome | currency }} </p>
                 <p>Total Monthly Income: {{ mymonthlyincome | currency }} </p>
                 <p>Total Monthly Expenses: {{ monthlyexpenses | currency }} </p>
                 <p>Leftover (income - expenses): {{ descincome | currency }} </p>
             </div> 
           
       <div class="container-fluid">
         <div class="row">
             <div class="footer col-sm-12">
               <p>by SavvyWeb</p>
             </div>
        </div>  
      </div>          
    
         </div>

      </div>
     
    <!-- Modules -->
    <script src="app.js"></script>

    <!-- Controllers -->
    <script src="MainController.js"></script>
https://rawgit.com/spencerhallam/Budget_Application/master/budget_home.html
  </body>
</html>


